<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vishnu.android_assigment">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android_Assigment">
        <activity
            android:name=".Fact_With_DialogBox"
            android:exported="true" />
        <activity
            android:name=".Calculator_Activity"
            android:exported="true" />
        <activity
            android:name=".RatingBar_Activity"
            android:exported="true" />
        <activity
            android:name=".Login_Activity"
            android:exported="true" />
        <activity
            android:name=".NextActivity"
            android:exported="true" />
        <activity
            android:name=".IncreaseActivity"
            android:exported="true" />
        <activity
            android:name=".CheckBoxBtnActivity"
            android:exported="true" />
        <activity
            android:name=".RadioBtnActivity"
            android:exported="true" />
        <activity
            android:name=".FactorialActivity"
            android:exported="true" />
        <activity
            android:name=".OpeartorActivity"
            android:exported="true" />
        <activity
            android:name=".JumpTonextActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>